.main-footer {
  background-color: black;
  padding: 20px 0; /* Added padding for better spacing */
  width: 100%;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap on smaller screens */
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 200px;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin: 10px 15px; /* Reduced margin for better spacing on smaller screens */
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
}

.footer-body {
  text-decoration: none;
  line-height: 30px;
  /* text-align: center;  */
}
.footer-body a {
  text-decoration: none;
  color: white;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .footer-link {
    font-size: 16px; /* Adjust font size for smaller screens */
    margin: 5px 10px; /* Adjust margin for smaller screens */
  }
}
