.navbar {
  display: flex;
  background-color: #fff !important;
  z-index: 1000;
}
.toggle-button {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.drawer {
  display: flex;
  flex-direction: row;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  align-items: center;
  margin: 0 25px;
  text-transform: uppercase;
  font-weight: 700;
}
.home-item {
  margin-left: 250px;
  color: red;
}

.nav-link {
  text-decoration: none;
  color: #0649cf;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  position: relative;
}

.nav-logo {
  width: 250px;
  height: auto;
}

.nav-link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: red;
}
/* Crousel */

.slider-container {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  z-index: 1;
}

.slider-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-item.active {
  opacity: 1;
}

/* VideosPlayer */

.backgradent {
  background-color: rgb(242, 247, 247);
  margin-bottom: 10%;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

/* Accordian */

.accordion-body {
  text-decoration: none;
  margin-left: 2%;
}
.accordion-body a {
  text-decoration: none;
}
.about-container {
  background-color: #ffffff;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px;
}

.about-container p {
  font-size: 17px;
  color: black;
  line-height: 1.6;
}

/* Itnerary */


.itinerary-box h3 {
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}

.itinerary-box ul {
  padding-left: 0;
  margin-left: 5%;
  margin-right: 5%;
}

.itinerary-box ul li {
  font-size: 15px;
  color: rgb(13, 155, 202);
  margin-bottom: 5px;
  border-bottom: 1px dotted black;
  font-weight: 600;
  line-height: 25px;
}

.itinerary-box ul li a {
  color: rgb(11, 175, 230);
  text-decoration: none;
}

.itinerary-box ul li a:hover {
  text-decoration: none;
  color: red;
}
/* Ensure the Itinerary and CreateDestination don't disturb the layout */
.itinerary-box,
.create-destination-box {
  width: 700px !important;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
  opacity: 0.9;
  background-color: #f8f8fe;
  position: absolute;
  top: 60px; /* Adjust based on where you want the page to appear */
  left: 0;
  width: 100%;
  opacity: 0.9;
  background-color: #f8f8fe;
  justify-content: center;
  margin: auto;
  z-index: 1000; /* Ensure it appears above other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Hide the pages by default */
.itinerary-box.hidden,
.create-destination-box.hidden {
  display: none;
}

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }
  .nav-logo {
    display: none;
  }
  .nav-logo-small-screen {
    display: flex;
    width: 100px;
    margin-left: 10px;
  }
  .drawer {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    border-top: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .drawer.open {
    display: flex;
  }

  .nav-list {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }

  .nav-item {
    margin: 10px 0;
    width: 100%;
    text-align: left;
  }

  .home-item {
    margin-left: 0;
  }
}
